#sv_versions #sv_version_wrapper-num,
#sv_sections #sv_section_wrapper-num {
  /*Invisible block for template to js*/
  display: none;
}

.markup {
  font-weight: bold;
}

#sv_versions .sv_version_wrapper,
#sv_sections .sv_section_wrapper {
  clear: both;
}

#sv_versions .sv_version_wrapper div,
#sv_sections .sv_section_wrapper div {
  float: left;
}

#sv_versions .sv_version_wrapper .label,
#sv_sections .sv_section_wrapper label {
  display: inline;
  margin: 0px 10px 0px 10px;
  min-width: 75px;
}

#sv_versions .sv_version_wrapper .href,
#sv_sections .sv_section_wrapper .href {
  margin: 10px 0px 0px 5px;
}

#sv_addversion,
#sv_addsection {
  clear: both;
  margin: 0px 0px 20px 10px;
}

.sv_countversion,
.sv_sectionsize {
  width: 50px;
}

.sv_section_title,
.sv_section_url {
  width: 200px;
}
