#sv_section .sv_row {
  clear: both;
  width: 100%;
}

#sv_section .sv_section_one {
  float: left;
  line-height: 15px;
  margin-bottom: 30px;
  margin-left: 10px;
  width: 230px;
}

#sv_section .sv_section_one div {
  text-align: left !important;
  text-indent: 0px !important;
}

#sv_section .sv_section_one div img {
  margin-left: 10px;
  margin-top: 5px;
}

#sv_load_section {
  clear: both;
}

#sv_load_section .loading {
  visibility: hidden;
}
