#sv_fixedlogin {
  display: none;
}

#sv {
  text-align: center;
  width: 100%;
}

#sv_container {
  display: block;
}

#sv_container > div {
  display: inline;
}

#sv_container .imagenav > .sv_img {
  display: inline;
  height: 120px;
  padding: 99px 13px 8px 10px;
  width: 120px;
}

#sv_container .imagenav > .cur_yes {
  background-color: #000;
}

#sv .versions .vn {
  display: inline;
  margin: 0px 25px;
}

/*Comments*/

#sv_comments {
  background-color: #fafafa;
  padding: 7px 10px 0px 10px;
}

#sv_comments .sv_a {
  width: 100%;
}

#sv_comments .sv_a .vk {
  background: #fff url(../images/comments/left.png) top left no-repeat;
  display: inline;
  float: left;
  text-align: center;
  width: 50%;
}

#sv_comments .sv_a .fb {
  background: #3b5998 url(../images/comments/right.png) top right no-repeat;
  display: inline;
  float: left;
  text-align: center;
  width: 50%;
}
#sv_comments .sv_a .fb:hover {
  color: #fff;
}

#sv_comments .sv_comments {
  text-align: center;
}
#sv_comments .sv_comments #vk_comments {
  margin: 0 auto;
}

.anv {
  margin-bottom: 30px;
  text-align: left;
}
