#socialvote_opacity {
  background-color: #000;
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=60);
  height: 100%;
  left: 0px;
  opacity: 0.6;
  position: fixed;
  top: 0px;
  visibility: hidden;
  width: 100%;
  z-index: 999;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
}

#socialvote_message_wrapper {
  background-color: #fff;
  height: 100px;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  position: fixed;
  top: 50%;
  visibility: hidden;
  width: 400px;
  z-index: 999;
}

#socialvote_message {
  background-color: #ff9200;
  height: 93px;
  margin-left: 2px;
  margin-top: 2px;
  padding-top: 3px;
  width: 396px;
}

#socialvote_message_container {
  background-color: #fff;
  color: #000;
  float: left;
  height: 80px;
  margin-left: 3px;
  padding: 5px;
  text-align: justify;
  width: 340px;
}

#socialvote_message .sv_del {
  float: left;
  margin-left: 3px;
}

#socialvote_message .fb {
  margin-left: 115px;
}

#socialvote_message .vk {
  margin-left: 10px;
}

#socialvote_loading {
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: fixed;
  top: 50%;
  visibility: hidden;
  z-index: 999;
}
